@model PagedList.IPagedList<WEB_CONSULTAS.ProxyEstudiante.EstudianteDC>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Estudiantes";
}

<main class="d-flex">
    <nav class="d-flex flex-column flex-shrink-0 p-3 bg-light rounded-end">
        <h2 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">Consultas</h2>        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item d-flex align-items-center link-hover rounded p-1"><i class="fa-regular fa-id-card"></i>@Html.ActionLink("Matriculas", "Index", "Matriculas", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="nav-item d-flex align-items-center link-hover rounded p-1"><i class="fa-solid fa-graduation-cap"></i>@Html.ActionLink("Estudiantes", "Index", "Estudiantes", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="nav-item d-flex align-items-center link-hover rounded p-1"><i class="fa-solid fa-chalkboard-user"></i>@Html.ActionLink("Profesores", "Index", "Profesores", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="nav-item d-flex align-items-center link-hover rounded p-1"><i class="fa-solid fa-book"></i>@Html.ActionLink("Cursos", "Index", "Cursos", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="nav-item d-flex align-items-center link-hover rounded p-1"><i class="fa-solid fa-table-list"></i>@Html.ActionLink("Secciones", "Index", "Secciones", new { area = "" }, new { @class = "nav-link" })</li>
        </ul>

    </nav>
    <div class="container-fluid">
        <h1>Listar de Estudiantes</h1>
        @using (Html.BeginForm("Buscar", "Estudiantes"))
        {
            <div class="row g-3">
                <div class="col-auto p-2">
                    <label class="form-label">Grados</label>
                </div>
                <div class="col-auto">
                    @Html.DropDownList("grado",
                   (IEnumerable<SelectListItem>)ViewBag.ListarGrado, new { @class = "form-select" })
                </div>

                <div class="col-auto">
                    <input type="submit" name="Buscar" class="btn btn-primary mb-3" />
                </div>
            </div>
        }


        @if (Model != null && Model.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">DNI. Estudiante</th>
                        <th scope="col">Apellido nombre</th>
                        <th scope="col">Sexo</th>

                        <th scope="col">DNI Apoderado</th>
                        <th scope="col">Telf Apoderado</th>
                        <th scope="col">Nombre Apoderado</th>
                        <th scope="col">Apellido Apoderado</th>
                        <th scope="col">Estado</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var estudiante in Model)
                    {
                        <tr>
                            <td>@estudiante.DNI_EST</td>
                            <td>@estudiante.ApellNom_EST</td>
                            <td>@estudiante.SEXO_EST</td>

                            <td>@estudiante.DNI_APO</td>
                            <td>@estudiante.Tel_Apo</td>
                            <td>@estudiante.Nom_Apo</td>
                            <td>@estudiante.Ape_Apo</td>
                            <td>@estudiante.ESTADO_NOMBRE</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="custom-pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        }
    </div>
</main>
